
  /* Hide number input arrows in all browsers */
  .inputNum::-webkit-outer-spin-button,
  .inputNum::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .inputNum {
    -moz-appearance: textfield;
  }


  .group {
    height: fit-content;
    gap: 4px;
    text-align: left;
    width: 100%
  }
  
  .label {
    margin-left: 6px !important;
    width:fit-content;
    margin-bottom: 0; /* Ensure no bottom margin for labels */
    margin-top: 0;    /* Remove any default margin that might be applied */
  }
  
  
  .input {
    flex:1;
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid transparent;
    border-color: var(--sds-color-border-default-default);
    box-sizing: border-box;
    background: none;
    color: inherit
  }

  .inputNum {
    width:60px;
    min-width: 60px;
    max-width: 60px
  }

  .input:focus {
    outline: none; /* Removes the default outline */
    box-shadow: none; /* Removes any default focus shadow */
    border: 1px solid var(--sds-color-border-default-secondary); /* Custom border */
  }

  .input:-webkit-autofill {
    background-color: transparent !important; 
    -webkit-box-shadow: 0 0 0px 1000px var(--sds-color-background-default-default) inset !important;
    color: var(--sds-color-text-default-default) !important;
  }
  
  .input:-webkit-autofill::first-line {
    color: var(--sds-color-text-default-default) !important;
  }
  
  
  
  .links {
    margin-top: 10px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .lbutton {
    background: none;
    border: none;
    color: inherit;
    width: fit-content;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .lbutton:hover {
    text-decoration: none;
  }

  .head {
    text-align: center;
    margin-bottom: 4px;
  }

  .names {
    gap: 8px;
    max-width: 100%;
  }

  

  .error {
    color: var(--sds-color-red-500);
    word-wrap: break-word; /* Ensures long words break and wrap to the next line */
    white-space: normal;  /* Ensures text can wrap naturally */
  }
  
  
  .rcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;  /* Aligns the items in the center vertically */
    width: 100%;
    margin-top: 10px; /* Optional: Adds some spacing between elements */
  }
  
  .rlabel {
    display: flex;
    align-items: center;  /* Aligns the checkbox and text vertically */
    justify-content: flex-start; /* Ensures the text is left-aligned */
    color: var(--sds-color-text-default-secondary);
    width: fit-content;
    height: fit-content;
  }
  
  .checkbox {
    display: inline-block;  /* Ensures it behaves as an inline element within the label */
    width: 16px;           /* Makes the checkbox square */
    height: 16px;          /* Keeps the checkbox square */
    margin-right: 8px !important;     /* Adds space between checkbox and label */
    border: 1px solid var(--sds-color-border-default-default);  /* Border for visibility */
    border-radius: 3px;    /* Optional rounded corners */
    appearance: none;      /* Removes default browser styling */
    cursor: pointer;      /* Makes the cursor a pointer */
  }
  
  .checkbox:checked {
    background-color: var(--sds-color-background-default-secondary);  /* Background color when checked */
  }
  
  .checkbox:checked::before {
    content: '✔'; /* Checkmark when checked */
    display: block;
    text-align: center;
    color: var(--sds-color-text-default-default);
  }
  
  .checkbox:focus {
    outline: none; /* Removes focus outline */
  }

  .sbutton {
    height: 38px;
    border-radius: 12px;
  }
  

  .gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color:  var(--sds-color-background-default-default);
    background-image: none;
    border: 1px solid var(--sds-color-border-default-default);
    -webkit-border-radius: 20px;
    border-radius: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--sds-color-text-default-default);
    cursor: pointer;
    font: var(--sds-font-body-base);
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    max-width: 400px;
    min-width: min-content;
  }
  
  .gsi-material-button:hover {
    background-color:  var(--sds-color-background-default-default-hover);
  }
  
  .gsi-material-button-icon {
    height: 24px;
    margin-right: 36px;
    min-width: 24px;
    width: 24px;
  }
  
  .gsi-material-button-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: left;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font: var(--sds-font-body-base);
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    text-align: left;
  }
  
  .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  