.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: fit-content;
    padding: 16px 24px;
    border: 1px solid var(--sds-color-border-default-default);
    border-radius: 12px;
    max-width: 180px;
    cursor: pointer;
    color: inherit;
}

.para {
    word-break: break-word;
    display: inline-block; /* Proper text wrapping with ellipsis */
    max-width: 200px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    margin: 0;
  }
  
  .tick {
    word-break: break-word;
  }
  
  .name {
    display: inline-block; /* Proper text wrapping with ellipsis */
    max-width: 200px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    margin: 0;
  }
  

.container:hover {
    background-color: var(--sds-color-background-default-default-hover);
}

@media (max-width: 700px) {
    .container {
        gap: 4px;
        max-width: 120px;
        padding: 8px 12px
    }

    .name {
        max-width: 120px;
        font-size: 18px;
    }

    .tick {
        font-size: 16px;
    }

    .para {
        font-size: 14px;
    }
}

