.pill-group {
    display: flex;
    background: var(--sds-color-background-neutral-secondary);
    border-radius: 8px;
    min-width: fit-content;
    width: 100%;
  }
  
  .pill {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    border-radius: 8px;
    cursor: pointer;
    font: var(--sds-font-subheading);
    color: var(--sds-color-text-default-secondary);
  }

  .pill.small {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    border-radius: 8px;
    cursor: pointer;
    
    font: var(--sds-font-body-base);
    font-size: 18px;
    color: var(--sds-color-text-default-secondary);
  }
  
  .pill:hover {
    color: var(--sds-color-text-default-default);
  }
  
  .pill.pill-selected {
    background: var(--sds-color-background-brand-secondary);
    color: var(--sds-color-text-brand-on-brand-secondary);
  }

  @media (max-width: 700px) {
    
  
    .pill {
      padding: 4px 8px;
      font-size: 16px
    }

  
  }
