.tabGroup {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  justify-content: space-around; /* Align tabs evenly */
  padding-bottom: 4px;
  max-width: 100%;
}

.tab {
  display: flex;
  flex: 1; /* Allow flexible shrinking and growing with a minimum size */
  justify-content: center;
  padding: 8px 16px;
  max-width: 100%;
  min-width: fit-content;
  border-bottom: 2px solid var(--sds-color-border-default-default);
  font: var(--sds-font-subheading);
  color: var(--sds-color-text-default-tertiary);
  cursor: pointer;
  text-align: center;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; 
}

.tab:hover {
  border-bottom: 2px solid var(--sds-color-text-default-secondary);
  color: var(--sds-color-text-default-secondary);
}

.selected {
  border-bottom: 2px solid var(--sds-color-border-default-tertiary);
  color: var(--sds-color-text-default-default);
}

@media (max-width: 700px) {
  .tabGroup {
    justify-content: flex-start; 
  }

  .tab {
    flex: 1 1 25%;
    padding: 4px 4px;
    font-size: 16px
  }

}
