.tag-group {
  display: flex;
  align-items: center;
  gap: 6px; /* Space between items */
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 8px; /* Allow items to wrap to the next line */
}


.tag-container {
  display: inline-flex;
  align-items: center;
  height: fit-content;
  padding: 4px 8px;
  gap: 4px; /* Space between icon and text */
  border-radius: 8px;
  cursor: pointer;
  background: var(--sds-color-background-brand-tertiary);
  color: var(--sds-color-text-brand-tertiary);
  font: var(--sds-font-body-base);
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap; /* Prevent text wrapping */
}

.tag-container.small {
  padding: 4px 6px;
  gap: 2px;
  border-radius: 6px;
  font: var(--sds-font-body-small);
}


  .tag-container:hover {
    background: var(--sds-color-background-default-default-hover);
  }
  
  /* Tagged state */
  .tag-container.tagged {
    padding: 4px 8px 4px 4px;
    background: var(--sds-color-background-brand-default);
    color: var(--sds-color-text-brand-on-brand);
    border-color: var(--sds-color-border-brand-default);
  }

  .tag-container.tagged:hover {
    background: var(--sds-color-background-brand-hover);
  }
  
  /* Icon for tagged state */
  .tag-container .iconHash {
    display: none;
  }
  
  /* Display icon when tagged */
  .tag-container.tagged .iconHash {
    display: flex; /* Show icon */
  }

@media (max-width: 700px) {
  .tag-container {
    font-size: 14px
  }
}
  