.container {
  border: 1px solid var(--sds-color-border-default-default);
  border-radius: 12px;
  padding: 20px;
  margin: 16px;
  gap: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.compareContainer {
  border: 1px solid var(--sds-color-border-default-default);
  border-radius: 12px;
  margin-top: 16px;
  padding: 20px;
  gap: 12px;
  display: flex;
  flex: 1;
  background-color: var(--sds-color-background-default-secondary);
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.section {
  display: flex;
  flex: 1;
  gap: 12px
}

.hold {
  color: #a8a8a8; /* Yellow */
}

.smallM {
  margin: 0;
  align-content: end; 
  margin-bottom: 4px !important;
  flex: 1
}



.recommendation {
  display: flex;
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 700px) {
  .fix {
    font-size:12px;
  }

  .header {
    font-size:18px;
  }

  .metric {
    font-size:14px;
  }
}
