.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; /* Centers items horizontally */
    padding: 72px 24px;
    gap: 8px; /* Adds the desired spacing between elements */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.title {
    margin: 0px;
    height: fit-content;
    font: var(--sds-font-title-hero);
    text-align: center; /* Ensures text inside the title is centered */
}

.subtitle {
    margin: 0px;
    height: fit-content;
    max-width: 100%;
    color: var(--sds-color-text-default-secondary);
    font: var(--sds-font-subtitle);
    text-align: center; /* Ensures text inside the subtitle is centered */
}

@media (max-width: 700px) {
    .container {
        padding: 32px 20px;
    }
    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 20px;
    }
}
