.container {
    cursor: pointer;
    display: flex;
    width: 600px;
    margin-bottom: 16px;
    height: 90px;
    min-height: fit-content;
    flex-direction: column;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid var(--sds-color-border-default-default);
  }
  
  .titleRow {
    display: flex;
    flex-direction: column-reverse;
  }

  .tag {
    display: flex;
    border-radius: 12px;
    flex-wrap: nowrap; /* Prevent wrapping */
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;
    background-color: var(--sds-color-background-default-secondary);
    border: 1px solid var(--sds-color-border-default-default);
    white-space: nowrap; /* Prevent text from wrapping */
    margin: 0;
  }

  .name {
    flex-wrap: nowrap;
    white-space: nowrap;
  }
  

  @media (max-width: 700px) {
    .container {
        width: 100%;
        max-width: 100%;
        padding: 12px
    }
    .titleRow {
        flex-direction: column-reverse;
    }

    .tag {
        font-size: 12px
    }

    .val {
        font-size: 16px;
    }

    .name {
        font-size: 14px;
    }
  }