.header {
    margin: 0;
}


.col {
    display: flex;
    flex: 1; 
    align-content: flex-start; 
    justify-content: flex-end
}

.row {
    display: flex; 
    flex: 1; 
    gap: 24px; 
    width: 100%;
    max-width: none;
    align-items: center
}

.valCol {
    flex: 0.65
}



@media (max-width: 700px) {
    .header {
        font-size: 20px
    }

    .q {
        font-size: 32px;
    }

    .colName {
        font-size: 16px
    }

    .tick {
        font-size: 14px
    }

    .metricName {
        font-size: 14px;
    }

    .large {
        font-size: 16px;
    }

    .metricValue {
        font-size: 14px;
    }


    .row {
        gap: 12px;
    }
}