.select-group {
  display:flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.select-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select-group label {
  font: var(--sds-font-body-base);
  color: var(--sds-color-text-default-default);
  margin-left: 4px;
}

@media (max-width: 700px) {
  .select-group {
    gap: 8px;
  }

  .select-group label {
    font-size: 15px
  }
}