

.table-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
    /* Container for the table with curved edges */
.table-container {
    width: 100%;
    margin: 0; /* Centers the container horizontally on the page */
    display: flex; /* Makes the container a flex container */
    justify-content: left; /* Centers the table horizontally within the container */
    align-items: center; /* Centers the table vertically within the container */
    border-radius: 16px; /* Adjust the curvature as needed */
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;

     /* Ensures the table stays within the rounded edges */
    border: 1px solid var(--sds-color-border-default-default);
    margin-bottom: 4px;
}

.table-container::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}


.table-hints {
    display: flex;
    width: calc(100% - 16px); /* Account for left and right margins */
    margin-left: 8px;
    margin-right: 8px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 2px;
}
    

.hint {
    color: var(--sds-color-text-default-tertiary);
    font: var(--sds-font-body-xs)
}


/* Basic table styles */


/* Styling for the table cell */
.cell {
    display: flex;
    flex: 1;
    gap: 8px;
    min-width: fit-content;
    padding: 4px 8px; /* Adjust padding if needed */
    font: var(--sds-font-body-base);
    color: var(--sds-color-text-default-default);
    align-items: center;
    cursor: default;
    justify-content: space-between;
}

.textCell {
    width: fit-content;
    max-height:none;
    min-height:fit-content; 
    max-width: 150px; overflow:hidden; text-overflow:ellipsis; 
    white-space: nowrap
}

.ranking {
    min-width: 140px;
}

/* Additional styling for the first cell of each row (index column) */
.cell.table-index {
    font: var(--sds-font-body-strong);
    color: var(--sds-color-text-default-default);
    background-color: var(--sds-color-background-default-secondary);
}

.cell.table-head {
    font: var(--sds-font-body-base);
    color: var(--sds-color-text-default-default);
    cursor: pointer;
    min-width: fit-content;
    background-color: var(--sds-color-background-default-tertiary);
}

.cell.table-head.ticker-head {
    padding-left: 16px;
}

.ticker-cell {
    height: fit-content;
    display:flex;
    padding: 0px 6px;
    color: var(--sds-color-text-brand-on-brand);
    background-color: var(--sds-color-background-brand-default);
    border-radius: 24px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .cell {
        font-size: 14px
    }

    .ticker-cell {
        font-size: 14px
    }

    .cell.table-head {
        font-size: 14px
    }

    .textCell {
        max-width: 80px
    }
}