@import url("./theme.css");
@import url("./icons.css");

html {
  font-size: 16px;
}

body {
  background: var(--sds-color-background-default-default);
  color: var(--sds-color-text-default-default);
  margin: 0 !important;
}



html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; /* Enables vertical scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, Edge */
}

#root {
  min-height: 100%;
  width: 100%;
}

button {
  text-decoration: none;
    background-color: none;
    background: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border: none;
}

.main {
  padding:24px 64px
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: vertical;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid transparent;
  background: inherit;
  border-color: var(--sds-color-border-default-default)
}

.title {
  font: var(--sds-font-title-page);
}
.subtitle {
  font: var(--sds-font-subtitle);
  font-weight: 600;
}

.head {
  font: var(--sds-font-heading);
}
.subhead {
  font: var(--sds-font-subheading);
}

.body {
  font: var(--sds-font-body-base);
  margin: 0 !important;
}
.small {
  font: var(--sds-font-body-small);
}
.xs {
  font: var(--sds-font-body-xs);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
} 



h1, h2, h3, h4, h5, h6, p, a, input, label {
  margin: 0 !important;
}

.subtle {
  color: var(--sds-color-text-brand-secondary)
}

.positive {
  color: #089981; 
}


.negative {
  color: #f23645;
}


/* Button.css */

/* Base button styles */
.btn {
  display: flex; /* Use flexbox to align content */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 100%;
    font: var(--sds-font-body-base);
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    border: var(--sds-size-stroke-border) solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}  
  /* Primary button */
  .btn.primary {
    background-color: var(--sds-color-background-default-default);
    color: var(--sds-color-text-default-secondary);
    border-color: var(--sds-color-border-default-secondary);
  }
  
  .btn.primary:hover {
    background-color: var(--sds-color-background-default-default-hover);
  }
  
  .btn.primary.disabled {
    background-color: var(--sds-color-background-disabled-default);
    color: var(--sds-color-text-disabled-on-disabled);
    cursor: not-allowed;
  }
  
  /* Secondary button */
  .btn.secondary {
    background-color: var(--sds-color-background-default-secondary);
    color: var(--sds-color-text-default-secondary);
    border-color: var(--sds-color-border-default-secondary);
  }
  
  .btn.secondary:hover {
    background-color: var(--sds-color-background-default-secondary-hover);
  }
  
  .btn.secondary.disabled {
    background-color: var(--sds-color-background-disabled-default);
    color: var(--sds-color-text-default-tertriary);
    border-color: var(--sds-color-border-disabled-secondary);
    cursor: not-allowed;
  }
  
  /* Brand button */
  .btn.brand {
    background-color: var(--sds-color-background-brand-default);
    color: var(--sds-color-text-brand-on-brand);
    border-color: var(--sds-color-border-brand-tertiary);
  }
  
  .btn.brand:hover {
    background-color: var(--sds-color-background-brand-hover);
  }
  
  .btn.brand.disabled {
    background-color: var(--sds-color-background-disabled);
    color: var(--sds-color-text-disabled-on-disabled);
    border-color: var(--sds-color-border-disabled-default);
    cursor: not-allowed;
  }

  .btn.warning {
    border-color: var(--sds-color-border-danger-secondary);
    background-color: var(--sds-color-background-danger-secondary);
    color: var(--sds-color-text-danger-on-danger-secondary)
  }

  .btn.warning:hover {
    border-color: var(--sds-color-border-danger-secondary-hover);
    background-color: var(--sds-color-background-danger-secondary-hover);
    color: var(--sds-color-text-danger-on-danger-secondary)
  }

  .btn-text {margin:0; line-height:1.2}
  
  
  table {
    width: 100%;
    min-width: fit-content;
    border-collapse: collapse; /* Removes gaps between cells */
}

table::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}


td, th {
    padding: 0px;
}

.container {
  padding: 64px
}

@media (max-width: 700px) {
  .btn-text {
    font-size: 14px;
  }

  .btn {
    padding: 8px 8px;
  }

  .main {
      padding:16px 24px
    
  }

  .container {
    padding: 24px
  }
}
